.report {
    padding: 5rem 3rem;
    max-width: 1000px;
    margin: 0 auto;
    table thead th {
        font-size: 1.4rem;
        text-align: center;
        background-color: #19233f;
    }
    table {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    table th {
        cursor: pointer;
    }
    table tbody th:hover{
        background-color: rgb(197, 197, 197);
    }
}