* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    background-color: #f4f4f4;
    font-size: 15px;
}
.app {
    width: 100vw;
    height: 100vh;
}
.container {
    width: calc(100vw - 20rem);
    float: right;
    padding: 1rem;
}

@import "./top-nav";
@import "./side-nav";
@import "./homepage";
@import "./home-info";
@import "./login";
@import "./register";
@import "./reports";
@import "./chart";
@import "./rate";